@use "./theme" as *;

*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: sans-serif;
  background-color: $bg;
  color: white;
  padding-bottom: $controls-height;
}

ul,
li {
  list-style: none;
}
